S3method(anova,mixed)
S3method(print,mixed)
S3method(summary,mixed)
export(aov.car)
export(aov4)
export(compare.2.vectors)
export(ez.glm)
export(mixed)
export(nice.anova)
export(round_ps)
export(univ)
import(car)
import(pbkrtest)
importClassesFrom(Matrix,Matrix)
importFrom(Matrix,Matrix)
importFrom(Matrix,sparseMatrix)
importFrom(coin,approximate)
importFrom(coin,median_test)
importFrom(coin,oneway_test)
importFrom(coin,pvalue)
importFrom(coin,statistic)
importFrom(coin,wilcox_test)
importFrom(lme4,findbars)
importFrom(lme4,glmer)
importFrom(lme4,lmer)
importFrom(lme4,nobars)
importFrom(reshape2,dcast)
importFrom(stringr,str_c)
importFrom(stringr,str_detect)
importFrom(stringr,str_replace_all)
importMethodsFrom(Matrix,"%*%")
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,isSymmetric)
importMethodsFrom(Matrix,solve)
importMethodsFrom(Matrix,t)
